html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #33373A;
  font-family: Arial, Helvetica, sans-serif;
}

#heather {
  font-size: 30px;
  padding: 5px;
  height: 50px;
  display: flex;
  align-items: center;
}

#heather span {
  color: white;
  padding: 0 5px;
}

#container {
  position: relative;
  height: 100%;
  margin: 0 5px;
}

#scrollbox {
  position: absolute;
  top: 60px;
  bottom: 5px;
  left: 0px;
  width: 100%;
  overflow: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#content > p {
  background: #2A4151;
  color: #eee;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  margin: 0;
  border: 1px solid black;
  border-bottom: 0;
}